<div class="flex-row">
  <div class="flex-1">

    <mat-card class="search-card">
      <mat-card-header>
        <mat-card-title class="user-list-title">Send a message to the food shelf!</mat-card-title>
      </mat-card-header>
      <mat-card-content>

<button mat-fab class="add-message-fab" matTooltip="Send Message" matTooltipPosition="left" routerLink="/foodshelfvolunteer/new" data-test="addUserButton">
  <mat-icon class="md-24" aria-label="Add Message">add</mat-icon>
</button>
&nbsp;



<div class="flex-row gap-8 flex-wrap">
  <!-- Examples of filtering in Angular -->
  <mat-form-field class="input-field">
    <mat-label>Role</mat-label>
    <mat-select (selectionChange)="getMessagesFromServer()" [(ngModel)]="messageRole" data-test="messageRoleSelect">
      <mat-option>--</mat-option>
      <mat-option value="client">Client</mat-option>


    </mat-select>
  </mat-form-field>
</div>

<div class="flex-row">
  <div class="flex-1">

    <div class="flex-row">
      <div class="flex-1">

        <mat-card class="search-card">
          <mat-card-header>
            <mat-card-title class="message-list-title">View messages from clients below: </mat-card-title>
          </mat-card-header>
          <mat-card-content>







      <div class="flex-row">
        <div class="flex-1" *ngIf="serverFilteredMessages; else messagesError" >
            <mat-card class="'list'">
              <mat-card-content>
                <mat-nav-list class="message-nav-list">
                  <h3 mat-subheader>Messages</h3>
                  <a mat-list-item *ngFor="let message of this.filteredMessages" [routerLink]="['/volunteermessages', message._id]" class="message-list-item">
                    <span matListItemTitle mat-line class="message-list-name"> {{message.name}} </span>
                    <span matListItemLine class="message-list-body"> {{message.body}} </span>
                  </a>
                </mat-nav-list>
              </mat-card-content>
            </mat-card>


          </div>
        </div>

        <!-- Maybe this should be a pop-up instead of just a text message? Not sure. -->
        <ng-template #messagesError>
          <div class="flex-1" class="message-error">
            <mat-error>
              There was a problem loading the messages. Possibly the server is down or perhaps there are network
              issues.
            </mat-error>
            <mat-error>
              Please wait a bit and try again or start the server.
            </mat-error>
          </div>
        </ng-template>

