<div class="flex-row">
  <div class="flex-1">

    <mat-card class="search-card">
      <mat-card-header>
        <mat-card-title class="user-list-title">Send a message to the food shelf!</mat-card-title>
      </mat-card-header>
      <mat-card-content>

<button mat-fab class="add-message-fab" matTooltip="Send Message" matTooltipPosition="left" routerLink="/foodshelfvolunteer/new" data-test="addUserButton">
  <mat-icon class="md-24" aria-label="Add Message">add</mat-icon>
</button>
&nbsp;

<div class="flex-row">
  <div class="flex-1">

<mat-card class="search-card">
  <mat-card-header>
    <mat-card-title class="user-list-title">View messages from clients below: </mat-card-title>
  </mat-card-header>
  <mat-card-content>
