<div class="flex-row">
  <div class="flex-1">

    <mat-card class="search-card">
      <mat-card-header>
        <mat-card-title class="user-list-title">Send a message to the food shelf!/ Enviar un mensaje a la estanteria de alimentos</mat-card-title>
      </mat-card-header>
      <mat-card-content>

<button mat-fab class="add-message-fab" matTooltip="Send Message" matTooltipPosition="left" routerLink="/foodshelfclient/new" data-test="addUserButton">
  <mat-icon class="md-24" aria-label="Add Message">feedback</mat-icon>
</button>

</mat-card-content>
</mat-card>

  </div>
</div>

<button mat-button class="home-button" matTooltip="Home" matTooltipPosition="left" routerLink="/" data-test="account_box">
  <mat-label >Home</mat-label>
  <mat-icon class="account_box" aria-label="Go home">home</mat-icon>
</button>


